{{#if label}}
  <label id={{componentId}}>{{label}}</label>
{{else if (has-block)}}
  {{yield (hash
    label=(component 'form-ui/arbitrary')
    id=componentId
    labelledBy=(concat elementId '-labelled-by')
  )}}
{{/if}}

{{#if (and items (is-array model))}}
  <ul aria-describedby={{concat elementId '-described-by'}}>
    {{#each items as |item|}}
      {{form-ui/checkboxes/checkbox value=item.value label=item.label model=model}}
    {{/each}}
  </ul>
{{else if (has-block)}}
  {{yield (hash
    items=(component 'form-ui/arbitrary')
    describedBy=(concat elementId '-described-by')
  )}}
{{/if}}

{{#if description}}
  <div id={{concat elementId '-described-by'}}>{{description}}</div>
{{else if (has-block)}}
  {{yield (hash
    after=(component 'form-ui/arbitrary')
    describedBy=(concat elementId '-described-by')
  )}}
{{/if}}
